repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: "v2.4.0"
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
