# Environment variables for docker-compose.yml

LOG_LEVEL=DEBUG
NETWORK=web
## dashboard configs
HOST=traefik.test
# subdomain for dashboard.
DASHBOARD_HOST=dashboard.traefik.test
CONFIG_PATH=./config

# user/pass
DASHBOARD_USER=user
DASHBOARD_PASSWORD=$apr1$gOi18dFv$.fNgrJzZZVTLyWXid.CtJ1

## TLS configs

EMAIL=email@traefik.test
CERT_PATH=./certs
ACME_PATH=./acme.json
TLS_CHALLENGE=false

# CA_SERVER=https://acme-v02.api.letsencrypt.org/directory
# staging/dry-run server, no actual certificate will be given
# use this one for testing/debugging purposes, refer to README.md
CA_SERVER=https://acme-staging-v02.api.letsencrypt.org/directory


# dns challenge for wildcard certificate
DNS_CHALLENGE=true

# Find your provider here https://docs.traefik.io/https/acme/#providers
PROVIDER=digitalocean
# PROVIDER=linodev4

# Some providers needs more than one env defined
# In that case, you will need to modify docker-compose.yml file
# Keeping provider's key in a file is more secure than storing in environment
PROVIDER_ENV_FILE=DO_AUTH_TOKEN_FILE
# PROVIDER_ENV_FILE=LINODE_TOKEN_FILE

# just the API key in file
# (API key must have READ, WRITE access to provider i.e. digitalocean)
# don't forget to `chmod 600` it.
PROVIDER_ENV_FILE_VALUE=./provider.key

# log file path on host machine
LOG_PATH=./logs

# log format
LOG_FORMAT=common

# Access log config
ACCESSLOG=true
ACCESSLOG_BUFFERINGSIZE=100
# access log fields
# Limiting the Logs to Specific Fields
ACCESSLOG_FIELDS_DEFAULTMODE=keep
ACCESSLOG_FIELDS_NAMES_CLIENTUSERNAME=keep
ACCESSLOG_FIELDS_HEADERS_DEFAULTMODE=keep
ACCESSLOG_FIELDS_HEADERS_NAMES_USER_AGENT=keep
ACCESSLOG_FIELDS_HEADERS_NAMES_AUTHORIZATION=keep
ACCESSLOG_FIELDS_HEADERS_NAMES_CONTENT_TYPE=keep
