# Environment variables for docker-compose.yml

LOG_LEVEL=DEBUG
NETWORK=net
## dashboard configs
HOST=localhost
# subdomain for dashboard. DONT forget the dot (.) at the end
DASHBOARD_PREFIX=dashboard.
# user/pass
DASHBOARD_USER=user
DASHBOARD_PASSWORD=$apr1$gOi18dFv$.fNgrJzZZVTLyWXid.CtJ1

## TLS configs
EMAIL=email@domain.com
ACME_PATH=./acme.json
TLS_CHALLENGE=true
